.home{
    #warpper{
        height:calc(100vh - 100px);
        overflow:hidden;
        #warpper-con{
            .loading-con{
                display:flex;
                justify-content: center;
                .loading-img{
                    display: block;
                    width:30px;
                    height:30px;
                    margin-right: 8px;
                    background:url(../assets/images/loading.gif) no-repeat;
                    background-size: 100% 100%
                }
            }
                
        }
    }
}