.rank-list{
    padding:0 5px;
    h2{
        font-size: 15px;
        color: #d33a31;
        text-align: center;
        line-height: 64px;
    }
    .rankList-con{
        li{
            a{
                display:flex;
                margin-bottom:20px;
                .thumb{
                    display: inline-block;
                    img{
                        width:60px;
                        height:60px;
                    }
                }
                .introduce{
                    display: inline-block;
                    margin: 10px 0 0 27px;
                    vertical-align: top; 
                    h3{
                        color:#fff;
                        font-size:15px;
                        margin-bottom: 5px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    p{
                        font-size: 12px;
                        color: #666;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        
    }
}